<div class="all_card">
	<% @influencers.each do |influencer| %>
	<a href="../../profile/<%= influencer.id %>">
	<div class="card">
	<img src= '<%= influencer.avatar %>' class='avatar' width="270" height="270">
	<div class="nick">
	<span ><%= influencer.nick.upcase %> </span>
</div>
<div>
	<% influencer.subscribers.each do |subscriber|%>
	<% if subscriber.main%>
	<img class='icon' src="<%= subscriber.platform.icon%> " width="40" height="40">
    <span class="main_count"><%= subscriber.number_of_subscribers%> +</span>
</br></br>
    <%else%>
    <img class='icon' src="<%= subscriber.platform.icon%> " width="40" height="40">
    <span class="count"><%= subscriber.number_of_subscribers.to_i / 1000%> thou.</span>
	<%end%>
	<%end%>
</div>
</div>
</a>
<% end %>
</div>