<div id="main">
<div id="profile">
<div id="profile_card_photo">
	<div>

		<img class="foto" src="<%= @influencer.avatar%>"  width="500" height="500" >
	</div>
</div>
<div id="profile_card">
	<span id="nick">@<%= @influencer.nick%> </span>
</br>
	<span id="name"><%= @influencer.name%> <%= @influencer.surname%> </span>
	<hr>
	<% @influencer.subscribers.each do |subscriber|%>
	<% if subscriber.main%>
	<img src="../<%= subscriber.platform.icon%> " width="40" height="40">
    <span class="main_count"><%= subscriber.number_of_subscribers%> +</span>
</br></br>
    <%else%>
    <img  src="../<%= subscriber.platform.icon%> " width="40" height="40">
    <span class="count"><%= subscriber.number_of_subscribers.to_i / 1000%> thou.</span>
	<%end%>
	<%end%>
	<hr>
	<% @influencer.tags.each do |tag|%>
	<a class="tag"><span><%= tag.tag%> </span></a>
	<%end%>
	<hr>
	<div class="inf">
		<span id="inf">Information: <br></span>
		<br>
		City: <%= @influencer.city%>
<br>
<% age = Date.today.year - @influencer.birthday.year %>
    <% age -= 1 if Date.today < @influencer.birthday + age.years %> 
	Birthday: <%= @influencer.birthday%>   (<%= age %> y.o.)
<br>
Audience age: <%= @influencer.age_of_subscribers%>
<br>
Mail for communication: <%= @influencer.mail%>
		
<br> <br>
<%= @influencer.name%> - <%= @influencer.info.split('-')[1]%>. 
<br><br><br><br><br>

  
	</div>


</div>
</div>
<div>
	<span id="order">Рекламные заказы:</span>
</div>
<div class="horizontal-scroll-wrapper squares">
	<% @influencer.orders.each do |order|%>
	<div>
		<div id="product"><%= order.product%> </div>
		<div id="type_product">(<%= order.type_product%>)</div>
		<div id="platf_kind">
			<%= order.advertesiment_kind.kinds%>  in <%= order.advertesiment_kind.platform.name%>
		</div>
		
		  <div class="coorator_p">Company:<a href="../../company/<%= order.company.id %>" id="to_comp"> <div id="st_name_p"><%= order.company.name%></div></a></div>
		
		<div class="coorator_p">Cost:<div id="st_name_p"> <%= Price.find_by_influencer_id_and_advertesiment_kind_id(@influencer.id,order.advertesiment_kind.id).price%> rub.</div> </div>
		<div class="coorator_p" title="audience retention rate: blogger rate * ad type rate">Coefficient:<div id="st_name_p"><%= coef_1 = order.advertesiment_kind.influence_coefficient%> *  <%= coef_2 = Price.find_by_influencer_id_and_advertesiment_kind_id(@influencer.id,order.advertesiment_kind.id).coefficient%> = <%= (coef_2.to_f * coef_1.to_f).round(3)%> </div> </div>
		<div class="coorator_p">Curator: <span id="st_name"> <%= order.staff.name%></span></div>
	</div>
	
	<%end%>
	</div>



  
  


