<div id="title_sort_block">
<span id="title_sort">Отсортировать по дате </span>
<span id="help"><%= link_to  image_tag(image_path('https://static.tildacdn.com/tild3235-6338-4830-a134-393966613234/chevron-vector-style.png'), class: "arlow", id: "arlow"), main_sort_order_path(), remote: true, id: "link2"%></span>
</div>
<div class="all_cards_o first">
	<% @orders.each do |order| %>
	
	<div class="card_order" onclick="addCard(this)" data-toggle="modal" data-target="#exampleModal">
		<div class="order_name"><%= order.product%></div>
		<div class="order_type">(<%= order.type_product%>)</div>
		
		<div class="order_type"><%= order.advertesiment_kind.kinds%> in <%= order.advertesiment_kind.platform.type_of_activity%> of <img id="ic" src="../<%= order.advertesiment_kind.platform.icon%> " height="35px"></div>
		
		<div class="order_curator" ><span class="for">Curator: </span><%= order.staff.name%> <%= order.staff.surname%></div>
		<div class="for order_curator mar">Participants: </div>
		<%total = 0%>
		<% order.influencers.each do |influencer|%>
		 <div id="inf_nick" class="marg">@<%= influencer.nick%></div> 
         <%total += Price.find_by_influencer_id_and_advertesiment_kind_id(influencer.id, order.advertesiment_kind_id).price%>
		<%end%>
		<%total_str=""%>
		<% total_str = (total / 1000000).to_s if (total / 1000000) != 0%>
		<%total_str += " "%>
		<% total_str += ((total - (total / 1000000)*1000000) / 1000).to_s%>
		<% total_str += "00" if ((total - (total / 1000000)*1000000) / 1000) == 0%>
		<%total_str += " "%>
		<% total_str += "000"%>
		<div class="order_curator " ><span class="for">Total cost: </span><%= total_str%> rub.</div>
		<div class="order_curator" ><span class="for">Date: </span> <%= order.date_order%></div>
		
		<div class="order_type">for  <img id="avat_comp" src="<%= order.company.avatar%> " height="30px" width="80"></div>
	</div>
	<%end%>
</div>
<div class="modal fade sizet cent" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog sizet" role="document">
      <div class="modal-content sizet color">
        <div class="modal-header sizet color2">
          <h5 class="modal-title sizet" id="exampleModalLabel">Order</h5>
          <a   class="krest" data-dismiss="modal" aria-label="Close" >
            <img src="assets/крест.png" width="40" >
          </a>
        </div>
        <div id="tuda" class="modal-body">
         
        </div>
        
      </div>
    </div>
  </div>


	
	<%= link_to  image_tag(image_path('стрелка.png'), class: "mini"), main_add_orders_path(), remote: true, id: "link" , title: 'Загрузить еще заказов'%>
<div id="lil">
<div id="lol"></div>
</div>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  <script type="text/javascript">
  	function addCard(element) {
	target = document.querySelector('#tuda');
	target.innerHTML = ''
	target.appendChild(element.cloneNode(true));
	return
}


  </script>